
@media screen and (max-width:1600px){
    .logo{
        width: 140px;
        height: 33px;
    }
    .header__navbar{
        margin-right: 170px;
        margin-left: 170px
    }

    .BLOCK-1__card{
        padding: 60px 20px 50px 40px;
        background-color: #FFF3E3;
        width: 640px;
        height: 440px;
        margin-left: 747px;
    }
    .BLOCK-4__content{
        padding-left: 50px;
    }
    .BLOCK-4__blocks{
        width: 600px;
        margin-top: 42px;
        display: flex;
        gap: 24px;
        transform: translateX(131px);
    }
    .BLOCK-5{
        background-size: 100%;
        height: 900px;
    }
}
@media screen and (max-width:1440px){
    .logo{
        width: 140px;
        height: 33px;
    }
    .header__navbar{
        margin-right: 130px;
        margin-left: 130px
    }
    .BLOCK-4{
        height: 670px;
        background-color: #FCF8F3;
    }
    .BLOCK-4__content{
        padding-left: 50px;
    }
    
    .BLOCK-4__blocks{
        width: 600px;
        margin-top: 42px;
        display: flex;
        gap: 24px;
        transform: translateX(51px);
    }
    
    .BLOCK-5{
        background-size: 100%;
        height: 800px;
    }
}